p {
    font-size: 15px;
}
a {
    border-radius: 0 !important;
}
a:hover {
    border-left: 2px solid grey;
}
a:focus, a:active {
    border: 2px solid grey;
}
.btn {
    border: none;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.product-item {
    min-height: 100px;
}
