p {
    font-size: 15px;
}
a {
    border-radius: 0 !important;
}
a:hover {
    border-left: 2px solid grey;
}
a:focus, a:active {
    border: 2px solid grey;
}
.btn {
    border: none;
    color: white;
    background: rgb(168, 50, 121);
}
.btn:focus, .btn:active, .btn:hover {
    outline: none !important;
    box-shadow: none !important;
    background: #7B2559;
}
.product-item {
    min-height: 100px;
}
