.brand {
    font-family: 'Mansalva', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #d38312;
    height: 30px;
}
#banner-img {
    background: url('/assets/images/heels.jpeg') no-repeat center;
    background-size: cover;
}
#banner-img2 {
    background: url('/assets/images/nike.jpeg') no-repeat center;
    background-size: cover;
}
.col-md-7 {
    padding: 200px;
}
.btn {
    color: rgba(20, 13, 20, 1);
    border-color: rgba(20, 13, 20, 1);
    background: transparent;
    transition: 0.6s all;
}
.btn:hover {
    background: white;
    border-color: #d38312;
}
.col-md-6 {
    padding: 150px 0;
}