    <!--<div class="row">
        <div class="text-center col-md-6" id="banner-text">
                <p class="m-0"><span style="font-size: 1.5rem;">Welcome to </span>
                    <span class="brand">Product catalogue</span></p>
                <button class="btn mt-4" [routerLink]="['/products']">View Inventory</button>
        </div>
        <div class="col-md-3" id="banner-img">
        </div>
        <div class="col-md-3" id="banner-img2">
        </div>
    </div>-->

    <div class="bg-img col-md-12 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-center ">
                        <div id="banner-text">
                            <p class="m-0"><span style="color: rgb(15, 13, 13); font-size: 1.5rem;">Welcome to </span><span
                                    class="brand">Product Catalogue</span></p>
                            <button class="btn my-3" [routerLink]="['/products']">View Inventory</button>
                        </div>
                    </div>
                <!--<div class="col-md-5" id="banner-img">
                    </div>-->
                </div>
            </div>
            
            </div>